.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.title{
    margin: 0.9rem 0;
    font-size: 3.5rem;
    font-weight: 800;
    background: linear-gradient(135deg, #1B98F5, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc{
    font-size: 1.2rem;
    font-weight: 500;
    color: #34be69;
    margin: 10px 0;
}
.carousel{
    background-color: rgb(169, 154, 154);
    box-shadow: 0 0 20px rgba(135, 156, 176, 0.911);
    border-radius: 2rem;
    width: 70%;
    height: 450px;
    display: flex;
}
.content{
    box-shadow: 0 0 1.1rem rgba(170, 216, 180, 0.911);
    width: 70%;
    height: 400px;
    margin: 20px;
    border-radius: 1.8rem;
}
.img{
    object-fit: cover;
    border-radius: 1.8rem;
}
.descrip{
    color: #111;
    flex: 1;
    display: grid;
    place-items: center;
}
.links{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}