.container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #111;
    color: rgb(208, 221, 221);
    box-shadow: 0 0 10px rgba(166, 158, 158, 0.1);
    z-index: 100;
}
.logo{
    margin: 0 50px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 50px;
}
.link{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}
.link:nth-child(1) {
    border: none;
    background: none;
  }
  
  .link:nth-child(1)::before {
    margin-left: auto;
  }
  
  .link:nth-child(1)::after, .link:nth-child(1)::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .link:nth-child(1):hover::after, .link:nth-child(1):hover::before {
    width: 100%;
  }
  
.link:nth-child(2) {
    border: none;
    background: none;
  }
  
  .link:nth-child(2)::before {
    margin-left: auto;
  }
  
  .link:nth-child(2)::after, .link:nth-child(2)::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .link:nth-child(2):hover::after, .link:nth-child(2):hover::before {
    width: 100%;
  }
  
.link:nth-child(3) {
    border: none;
    background: none;
  }
  
  .link:nth-child(3)::before {
    margin-left: auto;
  }
  
  .link:nth-child(3)::after, .link:nth-child(3)::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .link:nth-child(3):hover::after, .link:nth-child(3):hover::before {
    width: 100%;
  }
  
.link:nth-child(4) {
    border: none;
    background: none;
  }
  
  .link:nth-child(4)::before {
    margin-left: auto;
  }
  
  .link:nth-child(4)::after, .link:nth-child(4)::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .link:nth-child(4):hover::after, .link:nth-child(4):hover::before {
    width: 100%;
  }
    
.link:nth-child(5) {
  border: none;
  background: none;
}

.link:nth-child(5)::before {
  margin-left: auto;
}

.link:nth-child(5)::after, .link:nth-child(5)::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.link:nth-child(5):hover::after, .link:nth-child(5):hover::before {
  width: 100%;
}