.container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
}
.logo{
    font-weight: bold;
    font-size: 20px;
    margin: 0 50px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 50px;
}
.link{
    text-decoration: none;
}
/* 
.shadow__btn {
    padding: 10px 10px;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgb(238, 254, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(171, 203, 211),
        0 0 25px rgb(171, 203, 211),
        0 0 50px rgb(171, 203, 211),
        0 0 100px rgb(171, 203, 211);
} */