.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 10px 0;
    text-align: justify;
}
.imgContainer{
    display: grid;
    place-items: center;
    position: relative;
}
.img{
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(208, 196, 196, 0.751);
}
.rotate{
    position: absolute;
    top: 250px;
    left: 430px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px;
}
.item{
    font-size: 2.2rem;
    font-weight: bold;
}
.title{
    color: #1B98F5;
}
.project{
    background: linear-gradient(15deg, rgb(74, 176, 245),rgb(252, 211, 136));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: alias;
}
.education{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.desc{
    font-size: 1.2rem;
    font-weight: 400;
}
.description{
    font-weight: 400;
    color: #b6b5b5;
}