.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 10px 0;
    text-align: justify;
}
.img{
    border-radius: 20px;
    border: 5px solid grey;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px;
}
.item{
    font-size: 2.2rem;
    font-weight: bold;
    color: antiquewhite;
}
.title{
    color: #1B98F5;
}
.project:hover{
    background: linear-gradient(15deg, rgb(74, 176, 245),rgb(252, 211, 136));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.education{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.desc{
    font-size: 1.2rem;
    font-weight: 400;
    color: #d7d7d7;
}
.description{
    font-weight: 400;
    color: #b6b5b5;
}