.container{
    line-height: 1.5;
    max-width: 18vw;
    min-height: 50vh;
    border: none;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #121111, teal);
    text-align: justify;
}
.image{
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    cursor: pointer;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
}
.userHandle{
    color: rgb(97, 163, 180);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 120ms;
}
.userHandle:hover{
    color: rgb(107, 194, 215);
}
.profileIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 1.8rem;
}