.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 22px;   
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logout{
    border: none;
    cursor: pointer;
    background-color: rgb(46, 48, 49);
    color: rgb(231, 231, 231);
    padding: 5px;
    border-radius: 5px;
}